* {
    padding: 0;
    margin: 0;
    font-family: Cambria;

}

.banner, .footer {
    background-color: rgb(120, 0, 46);
    color: white;
    padding: 5px;
    font-size: 150%;
    text-align: center;
}

.menu {
    background-color: rgb(173, 20, 87);
    text-align: left;
    display: grid;
    grid-template-columns: 60% 40%;
}

.left {
    text-align: left;
    background-color: snow;

    height: 322px;
    
}

.a {
        color: olivedrab;
}

.first {
    display: grid;
    grid-template-columns: auto auto auto;
    bottom: 0;
    background-color: rgb(173, 20, 87);
    color: olivedrab;
    align-items: end;
}

.first > ol {
    margin: 10px 0 0 30px;
}

.second {
    margin-left: 10px;
    height: 300px;

    
}

.right {
    display: flex;
    background-color: rgb(173, 20, 87);

    text-align: center;
    align-items: center;
    justify-content: center;
}

img:hover {
    border: dotted 1px yellowgreen;
}

a {
    margin: 0 50px 0 50px;
}

table {
    width: 90%;
    margin: auto;
    border: 1px solid olivedrab; 
}

th, td {
    border: 1px solid olivedrab; 
    padding: 8px;
    margin: 4px;
}

